@model List<ArtworkModel>

@{
    ViewBag.Title = "Saved Artworks";
    Layout = "_Layout";
}

<h1>List of saved images</h1>

<div class="artwork-grid">
    @foreach (var artwork in Model)
    {
        <div class="artwork-item">
            <a asp-controller="Artwork" asp-action="Details" asp-route-id="@artwork.Id">
                <img src="@artwork.PreviewUrl" alt="@artwork.Description" />
            </a>
        </div>
    }
</div>